body{

    background: linear-gradient(180deg, #0e0d0d, #000000);

}
.mainhead{

    font-size: large;
   
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

p1{

    margin-top: 20px;
    margin-bottom: 30px;
    color: beige;

}
h1{
   
    margin-top: 200px;
    text-shadow: 20px;
    box-shadow: none;
    font-size: 60px;
    font-weight: 10px;
    font-style:normal;
    background: linear-gradient(0deg, #000000, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
